
# How are the final results published?
# By default, files are copied from the work-dir.
# Valid settings: "copy", "move", "link", "symlink"
## Attention: "link" does not work on all filesystems, 
## such as some /scratch volumes
publish_mode: "link"

# Where are the input files?
# The input file should be a comma-separated file with one line per sample, 
# formatted in the following way:

# for paired-end shot reads (Default)
# sampleID,forward,reverse
# Sample1,</path/to/raw/reads>/forward_reads.fastq.gz,</path/to/raw/reads>/reverse_reads.fastq.gz

# for ONT long reads or single-end short reads 
# (adjust the parameters below accordingly)
# sampleID,reads
# Sample1,</path/to/raw/reads>/reads.fastq.gz

# Are you running this process on long-reads from ONT?
long_reads: false

# Are you running this process on single-end reads?
single_end: false


# Please note that you absolutely need the header (the first line)!
raw_reads: "./all_samples.csv"

# Where should the results end up?
#### Attention: This should NOT be a relative path
#### Make it an absolute path so that you can use the different workflows
#### together.
outdir: "<absolute-path-to-the-output-directory>"

#########################################################################
# Databases and parameters

#########################################################################
# Preprocessing parameters

# location of the host genome
# Important! It needs to be indexed already
host_genome_location: "<path-to-the-host-genome>/hg38/"
bwa_index_base: "hg38.fa"

# trim galore
trimgalore_quality:  30
trimgalore_min_read_length: 60
trimgalore_start_trim: 0
trimgalore_end_trim: 0

# fastplong
min_lr_len: 500
min_lr_qual: 10

#########################################################################
# Classification parameters

run_motus: true
run_metaphlan: true

# parameters for mOTUs2
motus_map_mgs_cutoff: 2
motus_min_len_align_length: 75
motus_db_path: "/<path-to-your-databases>/motus_db/3.0.3/db_mOTU/"
motus_gtdb_path: "/<path-to-your-databases>/motus_db/3.0.3/mOTUs_3.0.0_GTDB_tax.tsv"

# parameters for metaphlan
metaphlan_db_path: "/<path-to-your-databases>/metaphlan_db/vJan21/"

#########################################################################
# Assembly parameters

flye_overlap: "auto"

# bakta database
bakta_db_path: "/<path-to-your-databases>/bakta_db/v_5.0/db/"

#########################################################################
# Binning parameters

# checkM database
checkm_db_path: "/<path-to-your-databases>/checkm_db/2015_01_16/"

# path to the GTDB database
gtdb_db_path: "/<path-to-your-databases>/GTDBTK/release214/"

#########################################################################
# Viral classification databases

# geNomad database
genomad_db_path: "/<path-to-your-databases>/genomad/v1.6/genomad_db/"

# VIBRANT database
vibrant_db_path: "/<path-to-your-databases>/vibrant_db/v1.2.1"

# Cenote-taker3 database
ct3_db_path: "/<path-to-your-databases>/ct3_db"

# CheckV database
checkv_db_path: "/<path-to-your-databases>/checkv_db/checkv-db-v1.5"
